body {
  text-align: center;
  margin-top: 100px;
  font: 400 20px Roboto, sans-serif;
  color: #fff;
  background: #0068b7;
  -webkit-font-smoothing: antialiased;
}

img {
  width: 130px;
}

h1 {
  color: #fff;
  margin: 5px 0 10px;
  font-weight: 900;
}
